html,
body {
  font-size: 16px;
  line-height: 32px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: var(--all);
  box-sizing: border-box;
  min-height: 320px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: var(--filter);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:-moz-placeholder {
  color: var(--filter);
}

input:focus:-moz-placeholder {
  color: transparent;
}

input::-moz-placeholder {
  color: var(--filter);
}

input:focus::-moz-placeholder {
  color: transparent;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

main {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes catalog-tabs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --black: #000;
  --all: #333;
  --grey: #666;
  --modal:#969696;
  --filter:#999;
  --white: #fff;
  --white-share: #FFFFFFD9;
  --violet-1: #9D5CD0;
  --violet-2: #7943A4;
  --violet-3: #D1A9F0;
  --violet-4: #C283F3;
  --grey-accordion:#CACACA;
  --white-smoke: #ECECEC;
  --validate: #D11616;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 100px);
}

/*общие стили*/
.head-all-two {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

.head-all-three {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.section-catalog__years, .section-catalog__inner-list, .section-events__cards, .section-feedback__messenger, .section-bed__socials, .section-nav__dropdown > ul, .section-nav__drop-list, .section-gallery__filter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-nav__search-button, .section-nav__search-button-two, .section-nav__burger, .section-nav__search-but, .section-gallery__button-prev, .section-gallery__button-next {
  border: none;
  outline: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.stop-scroll {
  overflow: hidden;
}

/*нав лист*/
.section-nav {
  background-color: var(--black);
  position: relative;
}

.section-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.section-nav__wrapper {
  display: flex;
  width: 78%;
}

.section-nav__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-nav__bar-list, .section-nav__list-selects {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.section-nav__list-item:not(:last-child) {
  margin-right: 62px;
}

.section-nav__item-link {
  font-weight: 600;
  outline: 0;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.section-nav__item-link:focus-visible:not(:active) {
  background-color: var(--violet-2)
}

.section-nav__item-link:active {
  color: var(--violet-2);
}

.section-nav__enter {
  flex-shrink: 0;
  color: var(--white);
  outline: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.section-nav__enter:focus-visible:not(:hover) {
  background-color: var(--violet-2)
}

.section-nav__enter:active {
  color: var(--violet-1);
}

.section-nav__enter-svg {
  fill: currentColor;
}

.section-nav__but-enter {
  font-size: 18px;
  line-height: 25px;
  margin-left: 2px;
}

/*бургер и нав лист*/
.section-nav__burger {
  --burger-width: 36px;
  --burger-height: 28px;
  --burger-line-height: 3px;
  position: relative;
  z-index: 10;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--white);
  display: none;
  order: -1;
}

.section-nav__burger::before, .section-nav__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.section-nav__burger::before {
  top: 0;
}

.section-nav__burger::after {
  top: calc(100% - var(--burger-line-height));
  width: 67%;
}

.section-nav__burger-line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 79%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

/*поиск*/
.section-nav__search-button-two {
  display: none;
}

.section-nav__search-two {
  position: absolute;
  top: 30%;
  right: 5.5%;
  align-items: flex-end;
  z-index: 10;
  display: flex;
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  visibility: hidden;
  transform: translateX(50%) scaleX(0);;
}

.section-nav__search-form-two {
  display: flex;
  margin-right: 24px;
}

.section-nav__search-input-two {
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--white-share);
  background-color: transparent;
  color: var(--white);
  font-size: 20px;
}

.section-nav__search-close{
  border: none;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

/*хедер нижняя часть*/
.section-nav__list-down {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.section-nav__select-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-nav__list-selects {
  align-items: center;
}

.section-nav__select {
  position: relative;
  padding: 23px 0px 22px 0px;
}

.section-nav__select:not(:last-child) {
  margin-right: 93px;
}

.section-nav__item-btn {
  display: flex;
  padding: 0;
  padding-right: 6px;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.section-nav__item-btn:focus-visible:not(:hover) {
  background-color: var(--violet-2);
}

.section-nav__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 6px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
}

.section-nav__item-btn.is-active {
  color: var(--violet-2);
}

.section-nav__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.section-nav__item-heading {
  font-weight: 400;
}

.section-nav__dropdown {
  display: none;
  padding: 40px 20px 40px 40px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
}

.section-nav__dropdown-wrap {
  max-height: 220px;
}

.section-nav__dropdown.is-active {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
}

.section-nav__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.section-nav__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.section-nav__tintoretto {
  background-image: url('../img/jpg/real-1.jpg');
  background-repeat: no-repeat;
}

.section-nav__friedrich {
  background-image: url('../img/jpg/real-2.jpg');
  background-repeat: no-repeat;
}

.section-nav__leonardo {
  background-image: url('../img/jpg/real-3.jpg');
  background-repeat: no-repeat;
}

.section-nav__verrocchio {
  background-image: url('../img/jpg/real-4.jpg');
  background-repeat: no-repeat;
}

.section-nav__monet {
  background-image: url('../img/jpg/Imp-1.jpg');
  background-repeat: no-repeat;
}

.section-nav__sisley {
  background-image: url('../img/jpg/Imp-2.jpg');
  background-repeat: no-repeat;
}

.section-nav__mane {
  background-image: url('../img/jpg/Imp-3.jpg');
  background-repeat: no-repeat;
}

.section-nav__renoir {
  background-image: url('../img/jpg/Imp-4.jpg');
  background-repeat: no-repeat;
}

.section-nav__van {
  background-image: url('../img/jpg/post-1.jpg');
  background-repeat: no-repeat;
}

.section-nav__cezanne {
  background-image: url('../img/jpg/post-2.jpg');
  background-repeat: no-repeat;
}

.section-nav__gauguin {
  background-image: url('../img/jpg/post-3.jpg');
  background-repeat: no-repeat;
}

.section-nav__sulfur {
  background-image: url('../img/jpg/post-4.jpg');
  background-repeat: no-repeat;
}

.section-nav__kandinsky {
  background-image: url('../img/jpg/van-1.jpg');
  background-repeat: no-repeat;
}

.section-nav__marinetti {
  background-image: url('../img/jpg/van-2.jpg');
  background-repeat: no-repeat;
}

.section-nav__malevich {
  background-image: url('../img/jpg/van-3.jpg');
  background-repeat: no-repeat;
}

.section-nav__picasso {
  background-image: url('../img/jpg/van-4.jpg');
  background-repeat: no-repeat;
}

.section-nav__carra {
  background-image: url('../img/jpg/fut-1.jpg');
  background-repeat: no-repeat;
}

.section-nav__pratella {
  background-image: url('../img/jpg/fut-2.jpg');
  background-repeat: no-repeat;
}

.section-nav__severini {
  background-image: url('../img/jpg/fut-3.jpg');
  background-repeat: no-repeat;
}

.section-nav__balla {
  background-image: url('../img/jpg/fut-4.jpg');
  background-repeat: no-repeat;
}

.section-nav__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.section-nav__dropdown-link {
  display: block;
  outline: 0;
  padding: 8.5px 14px;
  margin-right: 20px;
  border: 2px solid transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  background-blend-mode: multiply;
  color: var(--white);
  transition: border-color 0.3s ease;
}

.section-nav__dropdown-link:focus-visible {
  border-color: var(--violet-1);
}

.section-nav__dropdown-link:active {
  border-color: var(--violet-3);
  background-color: rgba(194, 131, 243, 0.4);
}

.section-nav__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black);
}

.section-nav__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  opacity: 1;
}
/*поиск*/
.section-nav__search-form-one {
  display: flex;
}

.section-nav__search-button {
  padding-top: 5px;
  margin-right: 9px;
}

.section-nav__search-input-one {
  border: 0;
  outline: 0;
  padding: 0;
  width: 220px;
  color: var(--white);
  border-bottom: 1px solid var(--white-share);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.section-nav__search-input-one::placeholder {
  font-size: 18px;
  color: var(--white);
}

.section-nav__search-input:focus-visible {
  border-color: var(--violet-2);
}

/*секция банер слайдер*/
.section-banner {
  position: relative;
  z-index: 2;
}

.section-banner .swiper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.swiper-slide {
  background-size: cover;
}

.swiper-wrapper {
  box-sizing: inherit;
}

.section-banner__swiper-one {
  background-image: url("../img/jpg/slaid-1.jpg");
}

.section-banner__swiper-two {
  background-image: url("../img/jpg/slaid-2.jpg");
}

.section-banner__swiper-three {
  background-image: url("../img/jpg/slaid-3.jpg");
}

.section-banner__main-text {
  padding: 140px 0px 122px 0px;
  position: relative;
  z-index: 5;
}

/*текс в нутри слайдера*/
.section-banner__heading {
  margin: 0;
  max-width: 597px;
  font-size: 72px;
  line-height: 83px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 20px;
}

.section-banner__text {
  margin: 0;
  max-width: 579px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 92px;
}

.section-banner__subscribe {
  position: relative;
  display: inline-block;
  padding: 19.5px 32px;
  outline: 0;
  border-radius: 100px;
  text-align: center;
  border: 3px solid transparent;
  background-color: var(--violet-1);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section-banner__subscribe::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  bottom: -7px;
  right: -7px;
  border: 2px solid var(--violet-4);
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.section-banner__subscribe:focus-visible:not(:hover):not(:active).section-banner__subscribe::before {
  opacity: 1;
}

.section-banner__subscribe:active {
  background-color: var(--violet-2);
  border-color: var(--violet-3);
}

/*секция о нас*/
.section-about {
  padding: 80px 0px 78px 0px;
}

.section-about__heading-two {
  margin-bottom: 16px;
}

.section-about__text {
  margin: 0;
  max-width: 1080px;
}

/*секция галерея*/
.section-gallery {
  background-image: url('../img/jpg/gallery.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-gallery__filter-cards {
  display: flex;
  justify-content: space-between;
  padding: 72px 0px 88px 0px;
}

.section-gallery__filters {
  width: calc(400 / 1600 * 100%);
}

.section-gallery__heading-two {
  color: var(--white);
  margin-bottom: 16px;
}

.section-gallery__label {
  margin: 0;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 10px;
}

/*фильтр всплывающий список*/
.choices {
  margin-bottom: 176px;
}

.choices__list--single {
  padding: 0px 16px 0px 7px;
}

.choices[data-type*="select-one"]::after {
  content: "";
  height: 9px;
  width: 9px;
  border-style: none;
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  position: absolute;
  transform: rotate(135deg);
  right: 15.5px;
  top: 38%;
  margin-top: 0;
  pointer-events: none;
  transition: transform 0.5s ease;
}

.choices[data-type*="select-one"].is-open::after {
  transform: rotate(-45deg) translateY(4px);
  border-color: var(--white);
  margin-top: 0;
}

.choices__placeholder {
  color: var(--white);
  font-size: 16px;
  opacity: 1;
}

.is-open .choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-radius: 6px;
  background-color: var(--black);
}

.choices__inner {
  position: relative;
  z-index: 3;
  background-color: transparent;
  border-radius: 6px;
  padding: 1.5px 7.5px 3.75px;
  border: 1px solid var(--white);
  font-size: 16px;
  color: var(--white);
  min-height: 40px;
  transition: background-color 0.3s ease-in-out;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 4.5px;
}

.choices[data-type*=select-one] .choices__input {
  border: 1px solid var(--white);
}

.is-focused .choices__inner {
  border-color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 1px 10px 5px 15px;
  color: var(--filter);
  font-size: 16px;
  border-bottom: 1px solid var(--filter);
}

.choices .choices__list .choices__item.is-selected {
  display: none;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border: 1px solid var(--filter);
}

.is-open .choices__inner {
  border-radius: 6px;
  border: 1px solid var(--white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

/*чекбоксы*/
.section-gallery__checkbox-text {
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.section-gallery__tick {
  opacity: 0;
  position: absolute;
  transition: border-color 0.3s ease-in-out;
}

.section-gallery__tick:focus + .section-gallery__fake-checkbox {
  border-color: var(--violet-4);
}

.section-gallery__fake-checkbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--white);
  position: relative;
  transition: border-color 0.3s ease-in-out;
}

.section-gallery__fake-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--violet-4);
  border-radius: 100%;
  transition: opacity .2s ease-in;
  opacity: 0;
}

.section-gallery__tick:checked + .section-gallery__fake-checkbox::before {
  opacity: 1;
}

.section-gallery__tick:checked + .section-gallery__fake-checkbox {
  border-color: var(--violet-4);
}

.section-gallery__tick:checked ~ .section-gallery__check-text {
  color: var(--violet-4);
}

.section-gallery__tick:focus ~ .section-gallery__check-text {
  color: var(--violet-4);
}

/*свайпер с картинами*/
.section-gallery__cards {
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
  padding-top: 18px;
}

.section-gallery__swiper {
  overflow: hidden;
}

.section-gallery__card {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.section-gallery__card::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.section-gallery__card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.section-gallery__card:focus {
  outline: none;
}

.section-gallery__card:focus::before {
  border-color: var(--violet-2);
}

.section-gallery__card:active::before {
  border-color: var(--violet-3);
  background-color: rgba(194, 131, 243, 0.4);
}

.section-gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-gallery__navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 29px;
}

.section-gallery__pagination {
  margin-right: 19px;
  text-align: center;
  color: var(--white);
}

.section-gallery__button-prev, .section-gallery__button-next {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: var(--grey);
  border: 2px solid transparent;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  transition: background-color .3s ease, border-color .3s ease;
}

.section-gallery__button-prev:focus-visible, .section-gallery__button-next:focus-visible {
  border-color: var(--black);
}

.section-gallery__button-prev:active, .section-gallery__button-next:active {
  background-color: var(--violet-2);
  border-color: var(--black);
}

.section-gallery__button-prev::before, .section-gallery__button-next::before {
  content: "";
  position: absolute;
  top: 39%;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.section-gallery__button-prev.swiper-button-disabled, .section-gallery__button-next.swiper-button-disabled {
  cursor: auto;
  background-color: rgba(102,102,102, 0.5);
  border-color: transparent;
  pointer-events: none;
}

.section-gallery__button-prev {
  margin-right: 22px;
}

.section-gallery__button-next::before {
  left: 35%;
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.section-gallery__button-prev::before {
  left: 45%;
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

/*модальные окна*/
.blocker {
  z-index: 5;
}

.modal a.close-modal {
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background-image: url('../img/cross.svg');
}

.modal--custom {
  max-width: 900px;
  padding: 0;
  border-radius: 0;
}

.modal__card {
  display: flex;
}

.modal__card-img {
  max-width: none;
}

.modal__content {
  padding: 135px 50px 70px 50px;
}

.modal__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.modal__subtitle {
  margin: 0;
  font-weight: 600;
  line-height: 22px;
}

.modal__date-period {
  font-size: 12px;
  line-height: 16px;
  color: var(--modal);
  margin-bottom: 25px;
}

.modal__descr {
  margin: 0;
}

/*секция каталог*/
.section-catalog {
  padding: 72px 0px 78px 0px;
}

.section-catalog__heading-two {
  margin-bottom: 16px;
}

.section-catalog__text {
  margin: 0;
  margin-bottom: 39px;
  max-width: 1080px;
}

.section-catalog__img-text-accordion {
  display: flex;
  justify-content: space-between;
}

/*картинка и текст таб*/
.section-catalog__wrapper {
  width: calc(750 / 1600 * 100%);
}

.section-catalog__img-text {
  display: none;
}

.section-catalog__img{
  margin-bottom: 30px;
}

.section-catalog__life {
  font-size: 12px;
  line-height: 16px;
  color: var(--filter);
}

.section-catalog__text-life {
  margin: 0;
}

.section-catalog__gallery {
  font-weight: 600;
  line-height: 22px;
  color: var(--violet-1);
}

.section-catalog__painter-link--active {
  color: var(--violet-2);
}

.section-catalog__img-text--active {
  display: block;
  animation-name: catalog-tabs;
  animation-duration: 0.2s;
}

/*аккордеон*/
.section-catalog__accordion {
  width: calc(800 / 1600 * 100%);
}

.section-catalog__items {
  cursor: pointer;
}

.section-catalog__items:first-child .section-catalog__year {
  border-top: 1px solid var(--grey-accordion);
}

.section-catalog__year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--grey-accordion);
  padding: 32px 0px 32px 0;
  outline: none;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.section-catalog__items:first-child .section-catalog__year:active,
.section-catalog__year:active,
.is-active.section-catalog__items:first-child .section-catalog__year,
.is-active.section-catalog__items .section-catalog__year {
  border-color: var(--violet-2);
}

.section-catalog__accordion-three {
  transition: background-color 0.3s ease-in-out;
}

.section-catalog__year:focus-visible {
  outline: 0;
}

.section-catalog__year.ui-state-active .section-catalog__arrow {
  transform: rotate(180deg);
}

.section-catalog__year:active {
  color: var(--violet-2);
}

.section-catalog__year:focus:not(:active) h3 {
  color: var(--white);
  outline: none;
  background-color: var(--violet-1);
}

.section-catalog__arrow {
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: var(--white-smoke);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.section-catalog__year:focus .section-catalog__arrow {
  background-color: var(--violet-3);
}

.section-catalog__year:active .section-catalog__arrow {
  background-color: var(--violet-3);
  outline: 2px solid var(--violet-1);
}

.section-catalog__arrow::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 39%;
  display: inline-block;
  width: 11.79px;
  height: 11.79px;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  transform: rotate(135deg);
  transition: transform 0.5s ease;
}

.section-catalog__year.ui-state-active + .section-catalog__names {
  border-bottom: 1px solid var(--grey-accordion);
}

.section-catalog__content-wrap {
  padding: 25px 0px 59px 0px;
}

.section-catalog__inner-list {
  column-count: 3;
  cursor: auto;
}

.section-catalog__painter-link {
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section-catalog__painter-link:focus-visible:not(:active) {
  background-color: var(--violet-2);
  color: var(--white);
}

.section-catalog__painter-link:active {
  color: var(--violet-2);
  border-bottom: 1px solid transparent;
}

.section-catalog__img-plug-text {
  display: flex;
  align-items: center;
}

.section-catalog__img-plug {
  border: 2px solid #B7B7B7;
  padding: 12px;
}

.section-catalog__plug-text {
  margin-left: 24px;
}

.section-catalog__plug {
  margin: 0;
  max-width: 275px;
  line-height: 22px;
}

/*секция события свайпер с карточками*/
.section-events__container {
  position: relative;
}

.section-events__cards {
  padding: 16px 0px 0px 0px;
}

.section-events__card {
  height: auto;
}

.section-events__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-events__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 13px 49px 43px 49px;
  background-color: var(--white);
  border: 1px solid var(--grey-accordion);
  border-top: none;
}

.section-events__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.section-events__date {
  color: var(--filter);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.section-events__heading-three {
  margin-bottom: 8px;
}

.section-events__text {
  margin: 0;
  margin-bottom: 61px;
}

.section-events__detail {
  margin-top: auto;
  outline: 0;
  max-width: 92px;
  color: var(--violet-1);
  border-bottom: 1px solid var(--violet-1);
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section-events__detail:focus:not(:active) {
  background-color: var(--violet-1);
  color: var(--white);
}

.section-events__detail:active {
  color: var(--all);
  border-color: var(--all);
}

.section-events__button-prev, .section-events__button-next {
  top: 51%;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  outline: 0;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--white-smoke);
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.section-events__button-prev::after,
.section-events__button-next::after {
  font-size: 18px;
}

.section-events__button-next {
  right: -27px;
}

.section-events__button-prev {
  left: -27px;
}

.section-events__button-prev.swiper-button-disabled,
.section-events__button-next.swiper-button-disabled {
  opacity: 0;
}

.section-events__button-prev:focus-visible:not(:hover):not(:active), .section-events__button-next:focus-visible:not(:hover):not(:active) {
  border-color: var(--violet-1);
}

.section-events__button-prev:active, .section-events__button-next:active {
  background-color: var(--violet-3);
  border-color: var(--violet-1);
}

.section-events__swiper-pagination {
  display: none;
}

/*секция проекты*/
.section-projects {
  padding: 79px 0px 80px 0px;
}

.section-projects__heading-two {
  margin-bottom: 16px;
}

.section-projects__text {
  margin: 0;
  max-width: 1080px;
  margin-bottom: 19px;
}

.section-projects__tooltip-one, .section-projects__tooltip-two, .section-projects__tooltip-three {
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.section-projects__tooltip-one:focus-visible svg, .section-projects__tooltip-two:focus-visible svg, .section-projects__tooltip-three:focus-visible svg {
  fill: var(--violet-3);
}

.section-projects__tooltip-one:active svg, .section-projects__tooltip-two:active svg, .section-projects__tooltip-three:active svg {
  fill: var(--violet-1);
}

.section-projects__tooltip-one:active .fill, .section-projects__tooltip-two:active .fill, .section-projects__tooltip-three:active .fill {
  fill: var(--white);
}

.tippy-box {
  background-color: var(--violet-1);
  border-radius: 0;
}

.tippy-arrow {
  color: var(--violet-1);
}

.tippy-content {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.section-projects__link {
  color: var(--violet-1);
  outline: 0;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section-projects__link:focus-visible:not(:active) {
  color: var(--white);
  background-color: var(--violet-1)
}

.section-projects__link:active {
  color: var(--violet-2);
  border-color: var(--violet-2);
}

.section-projects__heading-three {
  margin-bottom: 23px;
}

/*свайпер с лого партнёрами*/
.section-projects__container {
  position: relative;
  padding: 0px 75px 0px 75px;
}

.section-projects__partner {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  min-height: 150px;
  border: 1px solid var(--grey-accordion);
  background-color: transparent;
}

.section-projects__partner-png {
  filter: grayscale(1);
  opacity: 0.4;
  transition: opacity 0.4s ease-in-out, filter 0.3s ease-in-out;
}

.section-projects__partner:focus-visible {
  border-color: var(--violet-1);
}

.section-projects__partner:active .section-projects__partner-png {
  opacity: 1;
  filter: none;
  border-color: var(--violet-1);
}

.section-projects__partner:active {
  border-color: var(--violet-1);
}

.section-projects__button-prev, .section-projects__button-next {
  top: 43%;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  outline: 0;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--white-smoke);
  transform: translateY(-22%);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.section-projects__button-prev::after,
.section-projects__button-next::after {
  font-size: 10px;
}

.section-projects__button-next {
  right: -1px;
}

.section-projects__button-prev {
  left: -2px;
}

.section-projects__button-prev:focus-visible:not(:hover):not(:active), .section-projects__button-next:focus-visible:not(:hover):not(:active) {
  border-color: var(--violet-1);
}

.section-projects__button-prev:active, .section-projects__button-next:active {
  background-color: var(--violet-3);
  border-color: var(--violet-1);
}

/*секция форма и адрес карта*/
.section-feedback__connection {
  border: 1px solid var(--grey-accordion);
  background-color: var(--white);
}

.section-feedback__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0px 28px 0px;
}

.section-feedback__direction {
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.section-feedback__validate {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-feedback__message {
  position: absolute;
  top: -25px;
  left: 50%;
  padding: 20px 25px;
  width: max-content;
  border-radius: 20px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  text-align: center;
  z-index: 10;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;;
}

.visible-message {
  opacity: 1;
  visibility: visible;
}

.section-feedback__label {
  position: relative;
  width: 270px;
  padding: 0;
}

.section-feedback__form-input {
  width: 100%;
  outline: 0;
  border-radius: 100px;
  border: 1px solid var(--all);
  background-color: transparent;
  padding: 9px 25px;
  line-height: 32px;
  transition: background-color 0.3s ease-in-out;
}

.section-feedback__form-input::placeholder {
  font-size: 16px;
  color: var(--filter);
}

.section-feedback__button {
  position: relative;
  padding: 14px 33px;
  border: 2px solid var(--violet-1);
  border-radius: 30px;
  color: var(--violet-1);
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.section-feedback__button::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  bottom: -7px;
  right: -7px;
  border: 2px solid var(--violet-4);
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.section-feedback__button:focus-visible:not(:hover):not(:active).section-feedback__button::before {
  opacity: 1;
}

.section-feedback__button:active {
  background-color: var(--violet-2);
  color: var(--white);
  border-color: var(--violet-3);
}

.section-feedback__button-tablet {
  font-weight: 700;
  font-size: 18px;
}

.section-feedback__button-mobile {
  display: none;
}

.is-invalid {
  border-color: var(--validate);
}

.is-label-invalid {
  position: absolute;
  top: -20px;
  left: 25px;
  line-height: 16px;
}

.section-feedback__one-click-three {
  padding-top: 9px;
}

.section-feedback__messenger {
  display: flex;
  padding-top: 6px;
}

.section-feedback__messenger-list:not(:last-child) {
  margin-right: 20px;
}

.section-feedback__Whatsapp, .section-feedback__Telegram {
  display: inline-block;
  position: relative;
  outline: 0;
  transition: opacity 0.4s ease-in-out;
}

.section-feedback__Whatsapp::before, .section-feedback__Telegram::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  border: 1px solid var(--violet-2);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.section-feedback__Whatsapp:active:not(:focus-visible), .section-feedback__Whatsapp:active::before, .section-feedback__Telegram:active:not(:focus-visible) ,.section-feedback__Telegram:active:before {
  opacity: 1;
}

.section-feedback__my-map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"]{
  filter: grayscale(1);
}

/*секция подвал*/
.section-bed {
  background-color: #000;
}

.section-bed__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0px 50px 0px;
}

.section-bed__socials {
  display: flex;
}

.section-bed__social:not(:last-child) {
  margin-right: 20px;
}

.section-bed__social-link {
  display: inline-block;
  color: var(--grey-accordion);
  outline: 0;
  transition: color 0.4s ease-in-out;
}

.section-bed__social-svg {
  fill: currentColor;
}

.section-bed__social-link:focus {
  color: var(--white);
}

.section-bed__social-link:active {
  color: var(--violet-1);
}

@media (hover :hover) {
  .section-nav__item-link:hover:not(:focus) {
    color: var(--violet-4);
  }

  .section-nav__enter:hover {
    color: var(--violet-4);
  }

  .section-nav__item-btn:hover {
    color: var(--violet-1);
  }

  .section-nav__dropdown-link:hover {
    border-color: var(--violet-1);
  }

  .section-nav__search-input:hover {
    border-color: var(--violet-4);
  }

  .section-banner__subscribe:hover {
    border-color: var(--violet-3);
  }

  .choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .section-gallery__checkbox-text:hover {
    color: var(--violet-4);
  }

  .section-gallery__tick:hover + .section-gallery__fake-checkbox {
    border-color: var(--violet-4);
  }

  .section-gallery__card:hover::after {
    opacity: 1;
  }

  .section-gallery__button-prev:hover, .section-gallery__button-next:hover {
    background-color: var(--violet-1);
  }

  .section-catalog__items:first-child .section-catalog__year:hover,
  .section-catalog__year:hover {
    border-color: var(--violet-1);
  }

  .section-catalog__year:hover {
    color: var(--violet-1);
  }

  .section-catalog__year:hover .section-catalog__arrow {
    background-color: var(--violet-3);
  }

  .section-catalog__painter-link:hover {
    color: var(--violet-1);
    border-bottom: 1px solid var(--violet-1);
  }

  .section-events__detail:hover {
    color: var(--violet-2);
    border-color: var(--violet-2);
  }

  .section-events__button-prev:hover, .section-events__button-next:hover {
    background-color: var(--violet-3);
  }

  .section-projects__tooltip-one:hover svg, .section-projects__tooltip-two:hover svg, .section-projects__tooltip-three:hover svg {
    fill: var(--violet-3);
  }

  .section-projects__link:hover {
    border-color: var(--violet-1);
  }

  .section-projects__partner:hover:not(:active) .section-projects__partner-png {
    opacity: 1;
    filter: none;
  }

  .section-projects__button-prev:hover, .section-projects__button-next:hover {
    background-color: var(--violet-3);
  }

  .section-feedback__form-input:hover {
    background-color: var(--white-smoke);
  }

  .section-feedback__button:hover {
    background-color: var(--violet-1);
    color: var(--white);
  }

  .section-feedback__Whatsapp:hover, .section-feedback__Whatsapp:focus-visible, .section-feedback__Telegram:hover, .section-feedback__Telegram:focus-visible{
    opacity: 0.5;
  }

  .section-bed__social-link:hover {
    color: var(--white);
  }
}

@media (max-width: 1560px) {
  .section-nav__list-item:not(:last-child) {
    margin-right: 30px;
  }

  .section-nav__select:not(:last-child) {
    margin-right: 30px;
  }

  .section-feedback__container {
    flex-direction: column;
    align-items: normal;
  }

  .section-feedback__direction {
    margin-bottom: 30px;
  }

  .section-feedback__form {
    margin-bottom: 30px;
  }

  .section-catalog__inner-list {
    column-count: 2;
  }
}

@media (max-width: 1145px) {
  .section-nav__list {
    padding: 28.4px 0px;
  }

  .section-nav__img-logo {
    width: 187.6px;
  }

  .section-nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 0px 0px 48px;
    z-index: 8;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translate(-101%, 0px);
    transition: tranform 0.6s ease-in-out;
  }

  .section-nav__wrapper--visible {
    transform: translate(0px, 0px);
  }

  .section-nav__menu {
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
  }

  .section-nav__bar-list {
    flex-direction: column;
    margin-bottom: 182px;
  }

  .section-nav__list-item {
    width: 100%;
  }

  .section-nav__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .section-nav__item-link {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 56px;
    width: 100%;
  }

  .section-nav__enter {
    padding: 13px 92px 11px 95px;
    display: inline-block;
    border: 2px solid var(--violet-1);
    border-radius: 100px;
  }

  .section-nav__item-link::after {
    display: none;
  }

  .section-nav__burger, .section-nav__search-button-two {
    display: block;
  }

  .section-nav__burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 100%;
  }

  .section-nav__burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 100%;
  }

  .section-nav__burger--active .section-nav__burger-line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .section-nav__burger:focus::after {
    opacity: 1;
  }

  .section-nav-list {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .section-nav__list-down {
    display: none;
  }

  .search--open {
    visibility: visible;
    transform: none;
  }

  .btn--hidden {
    opacity: 0;
    visibility: hidden;
  }

  .section-banner__swiper-one {
    background-image: url("../img/jpg/slaid-1-1024.jpg");
  }

  .section-banner__swiper-two {
    background-image: url("../img/jpg/slaid-2-1024.jpg");
  }

  .section-banner__swiper-three {
    background-image: url("../img/jpg/slaid-3-1024.jpg");
  }

  .section-banner__main-text {
    padding: 113px 0px 116px 0px;
  }

  .section-banner__heading {
    margin-bottom: 11px;
  }

  .section-banner__text {
    max-width: 661px;
    margin-bottom: 132px;
  }

  .section-about {
    padding: 80px 0px 69px 0px;
  }

  .section-about__text {
    max-width: none;
  }

  .section-gallery__filter-cards {
    padding: 80px 0px 82px 0px;
  }

  .section-gallery__filters {
    width: calc(484 / 1600 * 100%);
  }

  .choices {
    margin-bottom: 106px;
  }

  .section-gallery__cards {
    width: calc(1027 / 1600 * 100%);
    padding-top: 20px;
  }

  .section-gallery__navigation {
    margin-bottom: 27px;
  }

  .section-gallery__card::before {
    padding-top: calc(112% - 6px);
  }

  .section-gallery__button-prev {
    margin-right: 19px;
  }

  .section-gallery__button-prev::before {
    left: 40%;
  }

  .section-catalog {
    padding: 80px 0px 79px 0px;
  }

  .section-catalog__text {
    max-width: none;
  }

  .section-catalog__wrapper {
    width: calc(756 / 1600 * 100%);
  }

  .section-catalog__accordion {
    width: calc(756 / 1600 * 100%);
  }

  .section-catalog__painter-link {
    padding: 0;
  }

  .section-catalog__content-wrap {
    padding: 25px 0px 27px 0px
  }

  .section-events__button-prev, .section-events__button-next {
    display: none;
  }

  .section-events__swiper-pagination {
    display: inline-block;
  }

  .section-events__content {
    padding: 0px 30px 43px 33px;
  }

  .section-events__date {
    font-weight: 400;
  }

  .section-events__inner {
    align-items: flex-end;
    padding-top: 17px;
    margin-bottom: 0;
  }

  .section-events__text {
    margin-bottom: 25px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -49px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 9px);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--grey);
  }

  .section-projects {
    padding: 120px 0px 80px 0px;
  }

  .section-projects__text {
    max-width: none;
    margin-bottom: 19px;
  }

  .section-projects__partner {
    min-height: 128px;
  }

  .section-projects__heading-three {
    margin-bottom: 23px;
  }

  .section-projects__container {
    padding: 0px 53px 0px 53px;
  }

  .section-feedback__container {
    padding: 41px 0px 33px 0px;
  }

  .section-projects__partner-png {
    max-width: 73%;
  }

  .section-feedback__direction {
    margin-bottom: 33px;
  }

  .section-feedback__form {
    margin-bottom: 18px;
  }

  .section-feedback__button {
    padding: 13px 40px;
  }

  .section-bed__content {
    padding: 35px 0px 50px 0px;
  }

  .section-bed__social-svg {
    width: 60px;
    height: 60px;
  }

  .section-bed__social:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1023px) {
  .section-feedback__validate {
    flex-wrap: wrap;
    gap: 11px;
  }

  .section-feedback__label {
    width: 49%;
  }

  .section-feedback__button {
    padding: 13px 27px;
  }

  .section-feedback__form {
    margin-bottom: 19px;
  }
}

@media (max-width: 970px) {
  .section-nav__search-two {
    top: 0%;
    right: auto;
    left: 0;
    padding: 35px 50px;
    width: 100%;
    background-color: var(--black);
    z-index: 100
  }

  .section-nav__search-form-two, .section-nav__search-input-two {
    width: 100%;
  }

  .section-nav__search-button-two svg {
    width: 27px;
    height: 27px;
  }

  .section-banner__swiper-one {
    background-image: url("../img/jpg/slaid-1-768.jpg");
  }

  .section-banner__swiper-two {
    background-image: url("../img/jpg/slaid-2-768.jpg");
  }

  .section-banner__swiper-three {
    background-image: url("../img/jpg/slaid-3-768.jpg");
  }

  .section-gallery__filter-cards {
    flex-direction: column;
    padding: 80px 0px 80px 0px;
  }

  .section-gallery__cards, .section-catalog__accordion, .section-catalog__wrapper {
    width: 100%;
  }

  .section-gallery__filters {
    width: calc(673 / 1600 * 100%);
  }

  .choices {
    margin-bottom: 40px;
  }

  .section-gallery__filter {
    margin-bottom: 9px;
  }

  .section-gallery__cards {
    padding-top: 26px;
  }

  .section-gallery__card::before {
    padding-top: calc(105% - 6px);
  }

  .section-catalog {
    padding: 80px 0px 69px 0px;
  }

  .section-catalog__img-text-accordion {
    flex-direction: column-reverse;
  }

  .section-catalog__text {
    margin-bottom: 22px;
  }

  .section-catalog__accordion {
    margin-bottom: 50px;
  }

  .section-catalog__inner-list {
    column-count: 3;
  }

  .section-catalog__content-wrap {
    padding: 25px 0px 57px 0px;
  }

  .section-events__content {
    padding: 0px 17px 46px 36px;
  }

  .section-events__inner {
    padding-top: 15px;
    margin-bottom: 3px;
  }

  .section-events__heading-three {
    margin-bottom: 5px;
  }

  .section-events__text {
    margin-bottom: 24px;
  }

  .section-projects__text {
    margin-bottom: 27px;
  }

  .section-projects__partner {
    min-height: 106px;
  }

  .section-projects__heading-three {
    margin-bottom: 29px;
  }

  .section-projects__container {
    padding: 0px 53px 0px 53px;
  }

  .section-projects__partner-png {
    max-width: 82%;
  }
}

@media (max-width: 725px) {
  .head-all-two {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .head-all-three {
    font-size: 24px;
  }

  .container {
    width: calc(100% - 30px);
  }

  .section-banner__heading {
    font-size: 50px;
  }

  .section-banner__text, .section-banner__subscribe, .section-feedback__one-click-three {
    font-size: 17px;
  }

  .section-catalog__accordion-three, .section-projects__heading-three, .section-catalog__plug-head {
    font-size: 18px;
  }

  .section-nav__wrapper {
    padding: 40px 0px 0px 15px;
  }

  .section-nav__bar-list {
    margin-bottom: 50px;
  }

  .section-nav__item-link, .section-nav__but-enter {
    font-size: 16px;
  }

  .section-nav__list {
    padding: 11.4px 0px;
  }

  .section-nav__enter {
    padding: 13px 50px 11px 50px;
  }

  .section-nav__img-logo {
    width: 96.8px;
  }

  .section-nav__burger-line {
    width: 69%;
  }

  .section-nav__search-button-two svg{
    width: 18px;
    height: 18px;
  }

  .section-nav__burger::after {
    width: 45%;
  }

  .section-nav__burger--active::after {
    width: 100%;
  }

  .section-nav__burger {
    --burger-width: 25px;
    --burger-height: 18px
  }

  .section-nav__search-two {
    padding: 21px 50px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .section-nav__search-form-two {
    align-items: flex-end;
    margin-right: 0;
  }

  .section-nav__search-but svg {
    width: 30px;
    height: 16px;
  }

  .section-nav__search-but {
    margin-right: 0;
  }

  .section-nav__search-close {
    position: absolute;
    top: 19%;
    right: 5%;
  }

  .section-nav__search-close svg {
    width: 15px;
    height: 15px;
  }

  .section-nav__search-input-two {
    width: 90%;
    font-size: 23px;
  }

  .section-banner__main-text {
    text-align: center;
    padding: 31px 12px 46px 12px;
  }

  .section-banner__heading {
    font-size: 32px;
    line-height: 40px;
    max-width: none;
    margin-bottom: 9px;
  }

  .section-banner__text, .section-banner__subscribe {
    font-size: 12px;
    line-height: 16px;
  }

  .section-banner__text {
    font-weight: 400;
    margin-bottom: 41px;
    max-width: none;
  }

  .section-banner__subscribe {
    padding: 8.5px 16px;
  }

  .section-about {
    padding: 50px 0px 41px 0px;
  }

  .section-about__heading-two {
    margin-bottom: 12px;
  }

  .section-about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .section-gallery__filter-cards {
    padding: 50px 0px 21px 0px;
  }

  .section-gallery__filters {
    width: 100%;
  }

  .section-gallery__label {
    margin-bottom: 1px;
  }

  .choices {
    margin-bottom: 30px;
  }

  .section-gallery__cards {
    padding-top: 22px;
    display: flex;
    flex-direction: column-reverse;
  }

  .section-gallery__navigation {
    align-self: center;
    margin-top: 20px;
  }

  .section-gallery__card::before {
    padding-top: calc(126% - 6px);
  }

  .section-catalog {
    padding: 50px 0px 48px 0px
  }

  .section-catalog__heading-two {
    margin-bottom: 13px;
  }

  .section-catalog__text {
    display: none;
  }

  .section-catalog__accordion {
    margin-bottom: 50px;
  }

  .section-catalog__arrow {
    width: 30px;
    height: 30px;
  }

  .section-catalog__arrow::after {
    width: 7.07px;
    height: 7.07px;
  }

  .section-catalog__inner-list {
    column-count: 1;
  }

  .section-catalog__year {
    padding: 20px 0px 19px 0;
  }

  .section-catalog__content-wrap {
    padding: 20px 0px 20px 0px;
  }

  .section-catalog__img {
    margin-bottom: 20px;
  }

  .section-catalog__bac-three {
    margin-bottom: 4px;
  }

  .section-catalog__plug-text {
    margin-left: 0px;
  }

  .section-catalog__img-plug {
    max-width: 118px;
    padding: 6px;
    transform: rotate(90deg);
  }

  .section-events__content {
    padding: 0px 16px 45px 22px;
  }

  .section-events__inner {
    padding-top: 17px;
    margin-bottom: 9px;
  }

  .section-events__text {
    margin-bottom: 16px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -38px;
  }

  .section-projects {
    padding: 80px 0px 8px 0px;
  }

  .section-projects__heading-two {
    margin-bottom: 12px;
  }

  .section-projects__text {
    margin-bottom: 10px;
  }

  .section-projects__heading-three {
    margin-bottom: 10px;
  }

  .section-projects__container {
    padding: 0px 48px 0px 48px;
  }

  .section-projects__partner {
    min-height: 65px;
  }

  .section-projects__partner-png {
    max-width: 33%;
  }

  .section-projects__button-next, .section-projects__button-prev {
    top: 36%;
  }

  .section-feedback__connection {
    border: none;
  }

  .section-feedback__container {
    padding: 40px 0px 9px 0px;
  }

  .section-feedback__direction {
    margin-bottom: 16px;
  }

  .section-feedback__address-one {
    font-size: 18px;
    line-height: 25px;
  }

  .section-feedback__address-two {
    font-size: 14px;
    line-height: 19px;
  }

  .section-feedback__validate {
    gap: 19px;
  }

  .section-feedback__label {
    width: 100%;
}

  .section-feedback__form-input {
    padding: 3px 22px;
  }

  .section-feedback__button {
    padding: 11px 32px;
  }

  .section-feedback__button-tablet {
    display: none;
  }

  .section-feedback__button-mobile {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .section-feedback__one-click-three {
    padding-top: 0px;
  }

  .section-feedback__messengers, .section-bed__social-svg {
    width: 50px;
    height: 50px;
  }

  .section-feedback__Whatsapp::before, .section-feedback__Telegram::before {
    width: 50px;
    height: 50px;
  }

  .section-feedback__my-map {
    height: 322px;
  }

  .section-bed__content {
    padding: 21px 0px 50px 0px;
    flex-direction: column-reverse;
  }

  .section-bed__img-logo {
    width: 96.8px;
  }

  .blocker {
    padding: 0;
  }

  .modal__card {
    flex-direction: column;
  }

  .modal__card-img {
    width: 100%;
  }

  .modal__content {
    padding: 17px 20px 26px 20px;
  }
}
